.content {
    display: flex;
    margin: 64px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.titleHeader {
    text-align: left;
    padding: 0 32px;
}