@import '../../../styles/variables.scss';

.submit {
    cursor: pointer;
    border: none;
    background: $submit-background-color;
    color: $submit-color;
    margin: 16px auto 0px;
    display: block;
    padding: 12px 32px;
    font-size: calc(#{$default-font-size} + 4px);

    &:hover {
        background: darken($submit-background-color, 10%);
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }

    &:active {
        box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
    }

    &:disabled {
        background: lighten($submit-background-color, 10%);
        cursor: not-allowed;
    }
}