@import './variables.scss';

.signUpLink {
    text-align: center;
}

.sectionForm {
    width: 420px;

    @media screen and (max-width: 575px) {
        width: 100%;
        max-width: 420px;
    }
}

.btnLink {
    border: none;
    text-decoration: underline;
    outline: none;
    background-color: transparent;
    font-size: $default-font-size;
    color: $button-link-color;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        outline: none;
        border: none;
    }

    &:visited {
        color: $default-font-color;
    }

    &:hover {
        cursor: pointer;
    }
}