@import './variables.scss';

.formDefault {
    font-weight: 300;
    line-height: 1.64;
    display: flex;
    flex-direction: column;
    font-size: $default-font-size;
    padding: 24px;
    background: $form-background-color;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 20px auto;
    position: relative;
    width: 100%;
}