// Variables

// typo
$default-font-size: 14px;
$default-line-height: 30px;
$defaut-font-weight: 100;
$default-font-color: #444;

// other
$body-background-color: #fff;
$spinner-color: #333;

// forms
$form-color: #777;
$form-background-color: #F9F9F9;
$placeholder-color: #888;
$input-border-color: #ccc;
$input-border-color-hover: #aaa;
$input-background-color: #fff;
$input-invalid-border-color: #ef476f;
$input-valid-border-color: #06d6a0;
$field-alert-color: #aa0e32;
$input-font-color: #444;
$submit-color: #f7f7f7;
$submit-background-color: #333;

$button-link-color: #111;

// loader
$loader-size: 64px;
$loader-line-height: 16px;
$loader-line-width: 4px;